.fontStyle {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}
.fontColor {
    color: #0D1321;
}
.cv_button {
    font-weight: 600;
    font-size: 20px;
    background-color: transparent;
    padding: 17px 24px;
    border-radius: 8px;
    cursor: pointer;
}
.Hbanner_button {
    font-family: "Azeret Mono", monospace;
    background-color: #0D1321;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
    cursor: pointer;
}
.section-title {
    font-weight: 800;
    font-size: 50px;
}
.description {
    font-size: 16px;
    line-height: 26px;
    opacity: 0.7;
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 0px 70px;
}
/* nav Bar style */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38px 150px;
}
.navBar h2 {
    font-weight: bolder;
    font-size: 28px;
}
/* hero section style */
.Hero_Banner {
    background-image: url("assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Hbanner_align {
    display: flex;
    align-items: center;
    margin: 38px 150px;
}
.Hbanner_size {
    text-align: center;
    padding: 26px 221px 45px;
}
.Hbanner_title {
    font-weight: bolder;
    font-size: 48px;
    line-height: 68px;
    margin-top: 32px;
}
.Hbanner_description {
    font-size: 16px;
    line-height: 26px;
    opacity: 0.7;
    padding: 24px 73px 32px;
}
/* main style */
.main_section {
    max-width: 1240px;
    margin: 0 auto;
}
main section {
    margin: 90px 0px;
}
/* web-development section style */
.Web_development {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    text-align: center;
    padding: 80px 97px;
}
.section_title {
    font-weight: bolder;
    font-size: 32px;
}
.sub_section {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 58px 48px;
    margin-bottom: 32px;
    border-radius: 16px;
}
.sub_section_middle {
    background: linear-gradient(270deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 58px 48px;
    margin-bottom: 32px;
    border-radius: 16px;
}
.sub_section_content {
    text-align: left;
}
.sub_title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}
.sub_description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin-top: 16px;
    margin-bottom: 32px;
}
.sub_section_btn {
    background-color: transparent;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 12px 20px;
    opacity: 0.7;
    cursor: pointer;
}
